.post{
    margin: 5px auto;
    height: 40vh;
    overflow: hidden;
}

#post01{
    margin-top: 10vh;
    position: relative;
}

#post01 img {
    position: absolute;
    top: 10vh;
    left: 27.5vw;
    width: 40vw;
    height: 20vh;
    
}

header {
    background: beige;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    z-index: 3;
}

header li {
    list-style-type: disc;
    list-style-image: none;
}

header > h1 {
    color: blueviolet;
}

.post {
    background: purple;
}

section,
#post02 {
    background: green;
}

.color-blue {
    color: #0000FF;
    font-weight: 900;
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: line-through;
    font-family: Courier New, Courier, monospace;
}

li {
    list-style-type: lower-greek;
    list-style-position: inside;
    /*list-style-image: url(bear.jpeg);*/
}

#post03 img {
    float: right;
    width: 20vw;
}

main {
    margin-top: 10vh;
    /*float: left;
    width: 70vw;*/
}

aside {
    margin-top: 10vh;
    /*width: 28vw;
    float: right;*/
}

@media (min-width: 768px) {
    main{
        width: 70vw;
        float: left;
    }
    aside{
        width: 26vw;
        float: right;
    }
}

@media (min-width: 1920px) {
    aside {
        width: 28vw;
    }
}

footer {
    clear: both;
}

.clearfix {
    overflow: auto;
}